<header>

  <!-- Background image -->
  <div class="p-5 text-center bg-image" style="
      background-image: url('https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg');
      height: 400px;
      margin-top:100px;
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-md-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Your Recipes, Your Way</h1>
          <h4 class="mb-3">No more hunting down index cards.</h4>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button">Explore</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
<body>
<h2> In the beginning... </h2>
<h3>We constantly found ourselves writing recipes in random places, so we needed a place for them all. We figured you'd want that too, so here we are.</h3>
</body>
