<div class="card-deck">
  <div class="col d-flex">
    <div class="card text-center" style="width: 25rem; h-100">
      <img src="https://static.toiimg.com/thumb/78028918.cms?width=680&height=512&imgsize=2041089" 
            class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title">
          <%= recipe.name %>
          </h2>
          <br>
          <h3>
          <%= recipe.difficulty %>
          </h3>
        <p class="card-text"><%= recipe.description %></p>
        <%= link_to "See Recipe", recipe_path(id: recipe.id), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>