<h1>Recipes</h1>
<h2>Some recipes for you:</h2>

<div class="container d-flex justify-content-center mb-3">
<div class="row row-cols-3">
  <% @recipes.each do |recipe| %>
    <%= render partial: 'card', locals: { recipe: recipe } %>
  <% end %>
  </div>
</div>
