<h1>Placeholder for show page</h1>

<!-- This will render a full page containing a single recipe from the index page - 
index will link to each of their respetive pages containing:
name of recipe, difficulty, and a short description at minimum. 
https://guides.rubyonrails.org/routing.html for guide on 'show' pages -->




