
<h1><%= @recipe.name %></h1>
<h2><%= @recipe.difficulty %> </h2>

<body>
  <%= @recipe.description %>
</body>
<!-- This will render a full page containing a single recipe from the index page - 
index will link to each of their respetive pages containing:
name of recipe, difficulty, and a short description at minimum. 
https://guides.rubyonrails.org/routing.html for guide on 'show' pages -->



