
@import "bootstrap";

/* universal */

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* NAV */
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
  text-align: right;
}

.navbar-nav > li > a {
  color: rgb(51, 100, 51);
  text-transform: uppercase;
  text-decoration: none;
}




.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 1.4em;
  letter-spacing: normal;
  margin-bottom: 20px;
  text-align: center;
  font: caption;
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


body {
  background-color: whitesmoke;
  }

