<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <%= link_to "Recipe App", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav me-auto">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Login", "#" %></li>
      </ul>
    </nav>
  </div>
</body>